/* STYLING FOR ALL BILL/ITEMS CARDS */

.card-display {
  justify-content: center;
  align-items: flex-start;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  border: 0;

  ul {
    width: 100%;
  }

  li {
    width: 100%;
    padding: 20px;
  
    @media (max-width: 480px) {
      padding: 15px;
    }
  }

  
  p {
    @media (max-width: 480px) {
      font-size: 1.8rem;
    }
  }
}

.card li:nth-of-type(2n) {
  background: $tertiaryColor;
}

.bill-card-bottom,
.card li:nth-of-type(2n + 1) {
  background: $fourthColor;
}

.invoice-card {
  width: calc(50% - 40px);
  max-width: 500px;
  margin: 20px;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.items-card {
  margin: 30px auto 50px auto;
  width: 80%;
  max-width: 500px;

  @media (max-width: 700px) {
    width: calc(100% - 40px);
  }
}

.card-heading {
  margin: 0;
  width: 100%;
  padding: 20px;
  background: $primaryColor;
  color: $secondaryTextColor;
  font-weight: bold;
}

.card-left,
.card-right {
  display: inline-block;
  margin: 0;
}

.card-left {
  width: 60%;
  text-align: left;
}

.card-right {
  width: 40%;
  text-align: right;
}

.card-strong {
  font-weight: bold;
}

.card-small {
  font-size: 1.7rem;
  margin-top: 5px;
}

.bill-card {
  cursor: pointer;
  align-self: flex-start;
  margin: 20px auto;
  width: calc(50% - 40px);
  max-width: 500px;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.bill-card {
  &:hover .card-heading,
  &:focus .card-heading {
    background: $accentColor;
  }
}

.bill-card-bottom {
  padding: 20px;
}