/* GLOBAL STYLES */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-align: center;
  background: #fff;
  color: $primaryTextColor;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* prob need to align footer to bottom somehow?? */
.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

header {
  height: 200px;
  background: linear-gradient(to bottom, $primaryColor 25%, $secondaryColor 25%, $secondaryColor 50%, $tertiaryColor 50%, $tertiaryColor 75%, $fourthColor 75%);
  color: $accentColor;
}

footer {
  background: $primaryTextColor;
  color: $secondaryTextColor;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  p {
    margin: 0;
    font-size: 1.6rem;
  }
}

a {
  color: $secondaryColor;
  font-weight: bold;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;

  @media (max-width: 700px) {
    width: 95%;
  }
}

.flex-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  margin: 0;
  padding-top: 50px;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin-bottom: 0;
  font-size: 24px;
}

h4 {
  margin: 0;
}

label {
  display: block;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 5px;
}

button {
  display: block;
  border: 0;
  background: #3B77AE;
  color: #fff;
  margin: 20px auto;
  height: 48px;
  padding: 10px 25px;
  transition: 0.3s all;

  &:hover,
  &:focus {
    background: #DB6172;
  }
}

.alternate-button {
  background: $secondaryColor;
}

form {
  padding: 20px 20px 0;
  margin: 0 auto;
  width: 65%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

input,
button {
  border-radius: 5px;
}

input {
  width: 100%;
  border: 2px solid $secondaryColor;
  padding: 15px;
  color: $primaryTextColor;

  &::placeholder {
    color: $secondaryColor;
    opacity: 0.7;
  }

  &:hover,
  &:focus {
    border: 2px solid $accentColor;
  }
}

.form-error {
  margin-bottom: 0;
  color: $accentColor;
}