/* STYLES FOR ITEM FORM */

.item-form {
  position: relative;
} 

.item-inputs {
  display: inline-block;
}

.item-inputs:first-of-type {
  width: calc(70% - 20px);
}

.item-inputs:last-of-type {
  width: 30%;
}

.item-cost-label {
padding-left: 20px;
}

.cost-input {
  width: calc(100% - 22px);
}

fieldset {
  border: 0;
  padding: 0;
  text-align: left;
}

legend {
  margin: 20px 0 0 0;
}

input[type="checkbox"] {
  width: 15px;
  margin-right: 5px;
  margin-left: 0;
}

.name-label {
  /* border: 3px solid #5AB6DC; */
  color: #5AB6DC;
  background: white;
  border-radius: 5px;
  font-size: 1.8rem;
  display: inline-block;
  margin-right: 20px;
}

.name-label:hover,
.name-label:focus {
  color: #EC84A5; 
}

button.add-item {
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
