/* STYLES FOR ITEM FORM */

.item-form {
  position: relative;
} 

.item-inputs {
  display: inline-block;
}

.item-inputs:first-of-type {
  width: calc(70% - 20px);

  @media (max-width: 767px) {
    width: 100%;
  }
}

.item-inputs:last-of-type {
  width: 30%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.item-cost-label {
padding-left: 20px;

  @media (max-width: 767px) {
    padding-left: 0;
  }
}

.cost-input {
  width: calc(100% - 22px);

  @media (max-width: 767px) {
    width: 100%;
  }
}

fieldset {
  border: 0;
  padding: 0;
  text-align: left;

  @media (max-width: 767px) {
    width: 100%;
  }
}

legend {
  margin: 20px 0 0 0;
}

input[type="checkbox"],
.name-label {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 15px;
  margin-right: 5px;
  margin-left: 0;
}

.name-label {
  /* border: 3px solid #5AB6DC; */
  color: #5AB6DC;
  background: white;
  border-radius: 5px;
  font-size: 1.8rem;
  display: inline-block;
  margin-right: 20px;
}

.name-label:hover,
.name-label:focus {
  color: crimson; 
}

.dollar-sign {
  @media (max-width: 767px) {
    display: none;
  }
}

.add-item {
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;

  @media (max-width: 767px) {
    position: static;
    margin: 20px auto;
  }
}

.done-adding {
  margin-top: 50px;
}
