/* STYLES FOR ITEM FORM */

.item-form {
  position: relative;
  margin-bottom: 50px;

  @include mqTablet {
    margin-bottom: 20px;
  }
} 

.item-form-bill-title {
  margin: 24px auto 0;
}

.item-inputs {
  display: inline-block;
}

.item-inputs:first-of-type {
  width: calc(70% - 20px);

  @include mqTablet {
    width: 100%;
  }
}

.item-inputs:last-of-type {
  width: 30%;

  @include mqTablet {
    width: 100%;
  }
}

.item-cost-label {
padding-left: 20px;

@include mqTablet {
    padding-left: 0;
  }
}

.cost-input {
  width: calc(100% - 22px);

  @include mqTablet {
    width: 100%;
  }
}

fieldset {
  border: 0;
  padding: 0;
  text-align: left;

  @include mqTablet {
    width: 100%;
  }
}

legend {
  padding: 20px 0 0 0;
}

input[type="checkbox"],
.name-label {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 15px;
  margin-right: 5px;
  margin-left: 0;
}

.name-label {
  color: $secondaryColor;
  border-radius: 5px;
  font-size: 1.8rem;
  display: inline-block;
  margin-right: 20px;
}

.name-label:hover,
.name-label:focus {
  color: $accentColor; 
}

.dollar-sign {
  @include mqTablet {
    display: none;
  }
}

.label-dollar-sign {
  display: none;

  @include mqTablet {
    display: inline;
  }
}

// add item button
.add-item {
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  right: 20px;
  bottom: 0;

  @include mqTablet {
    position: static;
    margin: 20px auto;
  }
}
