.bills-list {
  align-items: flex-start;

  li {
    border-radius: 5px;
    overflow: hidden;
    background: $fourthColor;
    margin: 10px;
    cursor: pointer;
    width: calc(50% - 20px);

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  p {
    display: inline-block;
    margin: 0;
    padding: 15px;

    @media (max-width: 480px) {
      font-size: 1.8rem;
    }
  }
}

.list-top {
  background: $primaryColor;
  color: $secondaryTextColor;
}

.list-bottom {
  background: $fourthColor;
  color: $primaryTextColor;
}

.bill-name,
.whos-splitting {
  width: 60%;
  text-align: left;
}

.date-created,
.people-involved {
  width: 40%;
  text-align: right;
}

.date-created {
  font-size: 1.8rem;
}