// COLOURS

// $darkestBlue: #2b6499;
// $mediumBlue: #4694be;
$darkestBlue: #255683;
$mediumBlue: #397da2;
// $lightBlue: #aadfec;
$lightBlue: #8fd4e5;
$lightestBlue: #d5f0f2;

$primaryColor: $darkestBlue;
$secondaryColor: $mediumBlue;
$tertiaryColor: $lightBlue;
$fourthColor: $lightestBlue;

$primaryTextColor: $darkestBlue;
// $primaryTextColor: #3b77ae; // another medium blue
$secondaryTextColor: #fff;

$accentColor: #ce587d; // red
// $darkerAccentColor: #b2345c;
$darkerAccentColor: #c23864; // darker red
$bgColor: #fff;
