// COLOURS

$primaryColor: #2b6499;
$secondaryColor: #4694BE; 
$tertiaryColor: #AADFEC; 
$fourthColor: #D5F0F2;

$accentColor: #ce587d; // #b64c6e; // #B64A6C;

$primaryTextColor: #3B77AE;
$secondaryTextColor: #FFF;