article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #1E527E;
}

header {
  height: 200px;
  background: linear-gradient(to bottom, #3B77AE 25%, #5AB6DC 25%, #5AB6DC 50%, #A0E9F3 50%, #A0E9F3 75%, #DAF7F6 75%);
}

footer {
  background: #3B77AE;
  color: #fff;
  padding: 10px;
}

footer p {
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

.flex-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  margin: 0;
  padding: 50px;
}

label {
  display: block;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 5px;
}

button {
  display: block;
  background: royalblue;
  margin: 20px auto;
}

button:hover,
button:focus {
  background: #DB6172;
}

form {
  border: 2px solid crimson;
  padding: 20px;
  margin: 20px auto;
}

input,
button {
  border-radius: 5px;
  border: 2px solid grey;
  padding: 10px 15px;
}

input {
  width: 100%;
}

input:hover,
input:focus {
  border: 2px solid #EC84A5;
}

.item-form {
  border: 2px solid deepskyblue;
  position: relative;
} 

.item-inputs {
  display: inline-block;
}

.item-inputs:first-of-type {
  width: calc(70% - 20px);
}

.item-inputs:last-of-type {
  width: 30%;
}

.item-cost-label {
  padding-left: 20px;
}

.cost-input {
  width: calc(100% - 22px);
}

fieldset {
  border: 0;
  padding: 0;
  text-align: left;
}

legend {
  margin: 20px 0 0 0;
}

input[type="checkbox"] {
  width: 15px;
  margin-right: 5px;
  margin-left: 0;
}

.nameLabel {
  /* border: 3px solid rebeccapurple; */
  color: rebeccapurple;
  background: white;
  border-radius: 5px;
  font-size: 1.8rem;
  display: inline-block;
  margin-right: 15px;
}

button.add-item {
  margin-right: 0;
  margin-bottom: 0;
  height: 48px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-display {
  justify-content: center;
  align-items: flex-start;
}

.invoice-card {
  border-radius: 10px;
  overflow: hidden;
  border: 0;
  width: 350px;
  margin: 30px;
}

.invoice-card ul {
  width: 100%;
}

.invoice-card li {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid royalblue;
}

.invoice-card li:nth-of-type(2n) {
  background: #A0E9F3;
}

.invoice-card li:nth-of-type(2n + 1) {
  background: #DAF7F6;
}

.invoice-card h3 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid royalblue;
  margin: 0;
  padding: 20px;
}

.invoice-card p {
  display: inline-block;
  margin: 0;
}

p.invoice-item {
  width: 70%;
  text-align: left;
}

p.invoice-amount {
  width: 30%;
  text-align: right;
}

.invoice-card h3,
.invoice-card li:last-of-type {
  background: #3B77AE;
  color: #fff;
}

.invoice-total p {
  font-weight: bold;
}

